body {
  background: #868e96;
  font-family: 'Roboto', sans-serif;
  color: #343a40;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  width: 340px;
  height: 520px;
  grid-template-rows: 110px repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'display display display display'
    'btn-ac btn-neg btn-perc op-div'
    'num-7 num-8 num-9 op-mult'
    'num-4 num-5 num-6 op-min'
    'num-1 num-2 num-3 op-plus'
    'num-0 num-0 num-dot op-eql';
  box-shadow: 1px 1px 4px #343a40;
}

button {
  border-width: 0;
  font-size: 2em;
  background: #e9ecef;
}

.display {
  margin: 0;
  padding: 20px;
  background: #f8f9fa;
  font-size: 4em;
  grid-area: display;
  line-height: 1.6;
  direction: rtl;
}

.op {
  background: #ced4da;
}

.op-dark {
  font-size: 2.5em;
}

.op-ac {
  grid-area: btn-ac;
  background: #e03131;
  color: #f8f9fa;
}

.op-neg {
  grid-area: btn-neg;
}

.op-percent {
  grid-area: btn-perc;
}

.op-divide {
  grid-area: op-div;
}

.op-multi {
  grid-area: op-mult;
}

.op-min {
  grid-area: minus;
}

.num-7 {
  grid-area: num-7;
}

.num-8 {
  grid-area: num-8;
}

.num-9 {
  grid-area: num-9;
}

.num-4 {
  grid-area: num-4;
}

.num-5 {
  grid-area: num-5;
}

.num-6 {
  grid-area: num-6;
}

.op-min {
  grid-area: op-min;
}

.num-1 {
  grid-area: num-1;
}

.num-2 {
  grid-area: num-2;
}

.num-3 {
  grid-area: num-3;
}

.op-plus {
  grid-area: op-plus;
}

.num-0 {
  grid-area: num-0;
}

.num-dot {
  grid-area: num-dot;
}

.op-eql {
  grid-area: op-eql;
}
